Repository PennyLaneAI/pennylane-aqt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Revert "try to fix rtd.yml"
  .readthedocs.yml
Due: none

copy over cirq's doc/req
  doc/requirements.txt
Due: none

Revert "copy over cirq's doc/req"
  doc/requirements.txt
Due: none

install latest pl in doc/req
  doc/requirements.txt
Due: none

restore doc/requirements.txt
  doc/requirements.txt
Due: none

update doc/requirements.txt to use latest PL
  doc/requirements.txt
Due: none

use new `pennylane.exceptions` module rather than top-level import (#86)
  doc/requirements.txt
  pennylane_aqt/device.py
  tests/test_device.py
Due: pylint, pylint-test

update changelog in preparation for v0.42.0 PL release
  CHANGELOG.md
Due: none

update changelog in preparation for v0.42.0 PL release (#91)
  CHANGELOG.md
Due: none

pre release version bump
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Fix auto-generated PR to be for v0.42.0 release
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

update versions in setup, requirements and device
  pennylane_aqt/device.py
  requirements.txt
  setup.py
Due: pylint

add changelog entry
  CHANGELOG.md
Due: none

Update requirements.txt
  requirements.txt
Due: none

post release version bump
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

bump 3.10 -> 3.11
  .github/workflows/upload.yml
  .readthedocs.yml
Due: none

setup.py and tests.yml
  .github/workflows/tests.yml
  setup.py
Due: pylint

changelog
  CHANGELOG.md
  README.rst
Due: none

changelog
  CHANGELOG.md
Due: none

readme
  README.rst
Due: none

fix requirements.txt
  doc/requirements.txt
Due: none

unpin autograd
  doc/requirements.txt
Due: none

reduce requirements to bare bones
  doc/requirements.txt
Due: none

make environment and update doc/requirements.txt
  doc/requirements.txt
Due: none

Update doc/requirements.txt
  doc/requirements.txt
Due: none

chore: drop support for Python 3.10 and add support for Python 3.13 (#93)
  .github/workflows/tests.yml
  .github/workflows/upload.yml
  .readthedocs.yml
  CHANGELOG.md
  README.rst
  doc/requirements.txt
  setup.py
Due: pylint

catch PLDW
  tests/test_device.py
Due: pylint-test

Overload the expand fn
  pennylane_aqt/device.py
  tests/test_device.py
Due: pylint, pylint-test

docstr
  pennylane_aqt/device.py
Due: pylint

ajdust some tests
  tests/test_device.py
Due: pylint-test

Update pennylane_aqt/device.py
  pennylane_aqt/device.py
Due: pylint

No patch for shtos
  tests/test_device.py
Due: pylint-test

Update tests/test_device.py
  tests/test_device.py
Due: pylint-test

adjust
  tests/test_device.py
Due: pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^(tests/) and \.py$
