Repository PennyLaneAI/pennylane-aqt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Bumping the version before the release
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Bumping the version before the release (#79)
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Updating changelog and version
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

post release version bump
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Updating changelog and version (#81)
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Updating `setuptools`
  .github/workflows/tests.yml
  .github/workflows/upload.yml
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Updating `setuptools` (#83)
  .github/workflows/tests.yml
  .github/workflows/upload.yml
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Bumping version
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Bumping version (#84)
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

use exceptions
  pennylane_aqt/device.py
  tests/test_device.py
Due: pylint, pylint-test

Post-release version bump
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Update requirements.txt
  requirements.txt
Due: none

Update requirements.txt
  doc/requirements.txt
Due: none

Update requirements-ci.txt
  requirements-ci.txt
Due: none

Simplified requirements.txt (#87)
  doc/requirements.txt
  requirements-ci.txt
  requirements.txt
Due: none

try installing from master
  doc/requirements.txt
  requirements.txt
Due: none

Revert "try installing from master"
  doc/requirements.txt
  requirements.txt
Due: none

rtd install from master
  .readthedocs.yml
Due: none

Revert "rtd install from master"
  .readthedocs.yml
Due: none

Update ubuntu version to 24.04 in .readthedocs.yml
  .readthedocs.yml
Due: none

Updated README
  CHANGELOG.md
Due: none

Update ubuntu version to 24.04 in .readthedocs.yml (#88)
  .readthedocs.yml
  CHANGELOG.md
Due: none

Updating CHANGELOG with link
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Updating CHANGELOG with link (#90)
  CHANGELOG.md
Due: none

update doc/requirements.txt to install pl from github
  doc/requirements.txt
Due: none

Revert "update doc/requirements.txt to install pl from github"
  doc/requirements.txt
Due: none

Revert "Revert "update doc/requirements.txt to install pl from github""
  doc/requirements.txt
Due: none

try removing PL from doc/requirements
  doc/requirements.txt
Due: none

Revert "try removing PL from doc/requirements"
  doc/requirements.txt
Due: none

change back to how it was
  doc/requirements.txt
Due: none

try to fix rtd.yml
  .readthedocs.yml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^(tests/) and \.py$
