Repository PennyLaneAI/pennylane-aqt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Overload the `batch_transform` to carry over the validation of no analytics (#95)
  pennylane_aqt/device.py
  tests/test_device.py
Due: pylint, pylint-test

Attempt using blacksmith runners
  .github/workflows/tests.yml
Due: none

fix changelog
  CHANGELOG.md
Due: none

fix autoray in doc/requirements.txt
  doc/requirements.txt
Due: none

fix changelog (#97)
  CHANGELOG.md
  doc/requirements.txt
Due: none

pre release version bump
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

update minimum supported version of PL to v0.43.0
  CHANGELOG.md
  pennylane_aqt/device.py
  setup.py
Due: pylint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update minimum supported version of PL to v0.43.0 (#99)
  CHANGELOG.md
  pennylane_aqt/device.py
  setup.py
Due: pylint

post release version bump
  CHANGELOG.md
  pennylane_aqt/_version.py
Due: pylint

Upgrading sphinx to 8.1
  doc/conf.py
  doc/requirements.txt
Due: none

fix dependencies
  doc/requirements.txt
Due: none

mapping
  doc/conf.py
Due: none

fix tests regarding default config
  tests/test_device.py
Due: pylint-test

Removed unused setting
  tests/test_device.py
Due: pylint-test

fix tests regarding default config (#102)
  tests/test_device.py
Due: pylint-test

autoray
  doc/requirements.txt
Due: none

Upgrading sphinx to 8.1 (#101)
  doc/conf.py
  doc/requirements.txt
Due: none

bump pl ver for failed latest-stable
  pennylane_aqt/device.py
Due: pylint

set up sync with 0.44
  setup.py
Due: pylint

Revert "Version Bump (#103)"
  CHANGELOG.md
  pennylane_aqt/_version.py
  pennylane_aqt/device.py
  setup.py
Due: pylint

Revert "Version Bump (#103)" (#105)
  CHANGELOG.md
  pennylane_aqt/_version.py
  pennylane_aqt/device.py
  setup.py
Due: pylint

add 3.14
  .github/workflows/tests.yml
  setup.py
Due: pylint

add log
  CHANGELOG.md
Due: none

contributors
  CHANGELOG.md
Due: none

typo
  CHANGELOG.md
Due: none

Version Bump (#103) (#106)
  .github/workflows/tests.yml
  CHANGELOG.md
  pennylane_aqt/_version.py
  pennylane_aqt/device.py
  setup.py
Due: pylint

Change pennylane references of master to main
  doc/requirements.txt
Due: none

fmt
  pennylane_aqt/__init__.py
  pennylane_aqt/device.py
  pennylane_aqt/ops.py
Due: pylint

bump autoray
  doc/requirements.txt
Due: none

Change pennylane references of master to main (#108)
  doc/requirements.txt
  pennylane_aqt/__init__.py
  pennylane_aqt/device.py
  pennylane_aqt/ops.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^(tests/) and \.py$
